* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #171e41;
    color: black;
    font-family: "Roboto", sans-serif;
    position: relative;
    min-height: 100vh;
}