* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #171e41;
  color: black;
  font-family: "Roboto", sans-serif;
}

#header {
  background-color: white;
}
#header #navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 3.8em;
  margin: 0 2%;
}
#header #navbar ul {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}
#header #navbar ul li {
  list-style: none;
  display: flex;
  align-items: center;
}
#header #navbar ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  font-weight: 500;
}
#header #navbar #productsNav {
  width: 40%;
  margin-right: 25%;
}
#header #navbar #logo {
  width: 5%;
}
#header .btn-light {
  background: none;
  border: none;
}
#header .btn-light:hover {
  background-color: #e2e6ea;
}

#cartButton {
  display: flex;
  justify-content: center;
  position: relative;
}

#cartCount {
  background-color: rgb(255, 31, 31);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 0.9em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  color: white;
  position: absolute;
  right: 4px;
  bottom: 0px;
}

#collapsingMenu {
  padding: 0;
  border: 0;
  border-radius: 0;
  overflow: hidden;
}
#collapsingMenu .d-block {
  opacity: 0%;
  animation-name: appear;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  margin: 1em;
}
#collapsingMenu .d-block ul {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 12em;
}
#collapsingMenu .d-block ul li {
  list-style: none;
  text-align: left;
}
#collapsingMenu .d-block ul li:hover {
  font-weight: 500;
}
#collapsingMenu .d-block ul li a {
  color: black;
  text-decoration: none;
  width: 10em;
}
#collapsingMenu h2 {
  font-size: 1.7em;
  font-weight: 400;
}

.collapseShow {
  animation-name: rollDown;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
  height: 0;
}

.collapseHide {
  animation-name: rollUp;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
  height: 60vh;
}

@keyframes appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes rollDown {
  100% {
    height: 60vh;
  }
}
@keyframes rollUp {
  100% {
    height: 0;
  }
}
#featured h2 {
  color: white;
}
#featured #ItemList {
  display: flex;
}
#featured #ItemList div {
  margin: 1em;
}
#featured #ItemList div h3 {
  margin: 0;
}
#featured #ItemList div p {
  margin: 0;
}

#itemDetailContainer {
  display: flex;
  justify-content: center;
}
#itemDetailContainer #itemDetail {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#itemDetailContainer #itemDetail .colors {
  display: flex;
  justify-content: center;
}
#itemDetailContainer #itemDetail .colors .color {
  border: 1px solid #b1b1b1;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  list-style: none;
  margin: 0.2em;
}
#itemDetailContainer #itemDetail img {
  width: 30%;
}

.activeIndicator {
  display: flex;
  flex-direction: row;
}

#count {
  margin: 1em;
  color: white;
  display: flex;
  flex-direction: column;
  width: 10em;
  height: 3.5em;
  border: 1px solid #b1b1b1;
}
#count div {
  display: flex;
  width: 100%;
  height: 1.75em;
}
#count div p {
  width: 6.5em;
  height: 1.75em;
  text-align: center;
}
#count div p:hover {
  background-color: white;
}
#count div button {
  width: 1.75em;
  height: 1.75em;
  padding: 0 3px;
}
#count div .btn-light {
  border-bottom: 1px solid #b1b1b1;
}
#count button {
  border: none;
}

/*# sourceMappingURL=style.css.map */
